@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  font-weight: normal;
  /* background-color: $body-color; */
  position: relative;
}

html {
  font-size: 62.5%;
}

.clear {
  clear: both;
}

a {
  text-decoration: none;
}

/*Bỏ đấu chấm của thẻ li*/
li {
  list-style-type: none;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
}
.header .navbar-brand i {
  font-size: 4rem;
}
.header .navbar-brand span {
  font-size: 3rem;
}
.header .navbar-toggler .navbar-toggler-icon {
  display: inline-block;
  position: absolute;
  z-index: 10;
}
.header .nav-link {
  transition: all 0.2s linear;
  position: relative;
}
.header .nav-link::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: #35a22c;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: width 0.25s linear;
}
.header .nav-link:not(:last-child) {
  margin-right: 2rem;
}
.header .nav-link:hover {
  color: #35a22c !important;
}
.header .nav-link:hover::after {
  width: 100%;
}
.header .active {
  color: #35a22c;
}
.header .active::after {
  width: 100%;
}

.slider .carousel-item {
  height: 70rem;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slider .carousel-item::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
.slider .carousel-item-1 {
  background-image: url(../img/finland.jpg);
}
.slider .carousel-item-2 {
  background-image: url(../img/mountains-1.jpg);
}
.slider .carousel-item-3 {
  background-image: url(../img/mountains.jpg);
}
.slider .carousel-caption {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  bottom: 50%;
  transform: translateY(50%);
}
.slider .carousel-caption img {
  width: 14rem;
  height: 14rem;
  border-radius: 50%;
}
.slider .carousel-caption h1 {
  margin: 0;
}
.slider .carousel-indicators {
  margin-bottom: 10rem;
}
.slider .carousel-indicators li {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
}

.hiring {
  padding: 7rem 0;
  background: url(../img/3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}
.hiring::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
.hiring .container {
  position: relative;
  z-index: 10;
}
.hiring header {
  margin-bottom: 4rem;
}
.hiring .item {
  padding: 3rem 1rem 3rem;
  border-radius: 1rem;
  height: 30rem;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(3px);
  transition: all 0.23s linear;
}
.hiring .item i {
  font-size: 4.5rem;
  color: #35a22c;
  margin-bottom: 2rem;
}
.hiring .item h3 {
  font-size: 2.5rem;
  margin-bottom: 2.5rem;
}
.hiring .item:hover {
  background-color: rgba(0, 0, 0, 0.8);
  border-color: white;
}

.portfolio header {
  margin-top: 9rem;
}
.portfolio header h1 {
  font-weight: bold;
}
.portfolio .nav-link {
  color: #6a6c76;
  border: 1px solid #6a6c76;
}
.portfolio .nav-link:not(:first-child) {
  margin-left: 1rem;
}
.portfolio .nav-pills {
  margin: 4.2rem 0 3.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.portfolio .nav-pills .nav-link.active,
.portfolio .nav-pills .show > .nav-link {
  background-color: #35a22c;
  border-color: #35a22c;
}
.portfolio .item {
  overflow: hidden;
  margin-bottom: 3rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  border-radius: 2rem;
  text-align: center;
}
.portfolio .item h1 {
  font-size: 1.8rem;
  font-weight: 400;
}
.portfolio .item p {
  margin-bottom: 4.4rem;
  font-size: 1.5rem;
  font-weight: 350;
}
.portfolio .item img {
  width: 100%;
}
.portfolio .item:hover h1 {
  color: #35a22c;
}

@media screen and (max-width: 768px) {
  .hiring .item {
    margin-bottom: 3rem;
  }
}
@media screen and (max-width: 576px) {
  .hiring .item {
    margin-bottom: 3rem;
  }
}

/*# sourceMappingURL=style.css.map */
